body {
  margin: 0;
  padding: 0;
}

.container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background-color: rgb(236, 159, 159);
  color: #fff;
  text-align: center;
  font-size: 0;
  transition: all 1s;
}

.container:hover .box {
  /* 요소의 너비가 정해지지 않은 경우 */
  /* 동시에 좌우마진을 네거티브로 주면  */
  /* 너비가 확장이 된다 */
  transform: rotate(360deg);
  margin-left: -500px;
  margin-right: -500px;
  font-size: 5rem;
}