body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vw;
  background-color: skyblue;
  display: table-cell;
  vertical-align: middle;
}

.container nav {
  width: 30%;
  margin: auto;
  /* background-color: rgb(92, 156, 189) */
}

.container nav ul {
  list-style: none;
  padding: 0; margin: 0;
  text-align: center;
  font-size: 0; /* li 요소들간의 default 마진값(inline-block)을 없애기 위해서 부모요소의 font-size를 0으로 설정함*/
  
}

nav ul li {
  display: inline-block;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 150px; height: 150px;
  line-height: 150px;
  border-radius: 50%;
  font-size: 5rem; 
  margin: 1rem;
  background-color: rgba(255,255,255,.1);
  box-shadow: 0.1rem 0.2rem rgba(0,0,0,.1);
  /*box-shadow : x위치 y위치 불투명(퍼짐정도) 그림자색상 ;*/
  transition: all .3s;

}

.container nav ul li a {
  text-decoration: none;  
  /* color: white; */
}
/* 아이콘이 나오면 a태그 언더라인이 안보이는데 decoration none 을해야하는 이유는? */

nav>ul>li>a>span {
  font-size: 5rem;
  color: aliceblue;
} /* 이 태그로는 폰트사이즈가 적용이 되지 않는 이유가 뭐지? */

.material-icons {
  font-size: 5rem;
}

/* span태그에 컬러값 주는거랑 li a 태그에 컬러값 주는 것에 무슨 차이가 있나 */
/* .material-icons 자체 css에 상속값이 정해져 있음 */
/* 상위태그에 color값을 설정하면 하위태그에 먹히지 않는 이유가 뭐지? 아이콘을 감싸고 있는 한단계 위의 부모요소에 적용한다
*/

nav ul li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(255,255,255,.3);
}