body {
  padding: 0 48px;
  background: #7c9885;
  box-sizing: border-box;
 
}

section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  
}

/* article */
article {
  width: 25rem;
  height: 33rem;
  margin: 0.5rem 1rem;
  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  transition: all 0.5s ease-in-out;

}


/* articlewrap */
.articlewrap {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* articlebody */
.articlebody { 
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
}

.articlebody h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;

}

.articlebody p {
  font-family: 'Figtree', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.35;
  margin-top: -0.8rem;
  
}

.articlebody a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #899b8e;
  position: absolute;
  bottom: 5%;
  }

/* figure */
figure {
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;

}

.cat img {
  object-position: 10% 30%;
}


/* hover효과 : transition은 해당 태그요소에 설정해야한다, hover에 transition을 적용하면 out효과가 적용되지 않는다*/

article:hover {
  box-shadow: 0px 0px 30px #506356;;
}

article:hover figure img{
  transform-origin: center;
  transform: scale(1.1);
}

article:hover h2, a{
  color: #445549;
}

article:hover .material-symbols-outlined {
  opacity: 1;
  left: 30%;
}

/* focus효과 */

.articlebody a:focus {
  outline: 1px dotted #899b8e;
}

/* 화살표 */

.material-symbols-outlined {
  position: absolute;
  left: 25%;
  bottom: 4.5%;
  color: #67816f;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

/* 반응형 */
@media (max-width:530px) {

   article {width: 100vw; height: 20vh; transition: all 1s ease-in-out;}
  .articlewrap {width: 80vw; height: 20vh; transition: all 1s ease-in-out;} 
  .articlebody p {display: none;}
  figure img { width: 9rem; height: 12.5rem; transition: all 1s ease-in-out;}
  .articlebody h2 {position: absolute; right: 23%; top: 0;}
  .articlebody a {right: 28%; bottom: 50%;}
  .material-symbols-outlined {left: 65%; top: 76px; transition: all 1s ease-in-out;
  }
  article:hover .material-symbols-outlined { opacity: 1; left: 75%;}

}

@media (min-width:530px) and (max-width:700px) {
   article {
    width: 25rem;
    height: 33rem;
    margin: 0.5rem 1rem;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    transition: all 1s ease-in-out;
  }
  .articlewrap {
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    transition: all 1s ease-in-out;
  } 
  .articlebody p {
    display: inline-block;
  }
  figure img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;}
}
