* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  vertical-align: top;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow: hidden;
}

section:nth-child(2) {
  background-color: rgb(241, 241, 129);
}

section:nth-child(3) {
  background-color: rgb(209, 252, 255);
}

section:nth-child(4) {
  background-color: rgb(255, 255, 255);
}



/* section 0 */

section .grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .25fr 1fr 3fr .25fr;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "footer footer footer footer" ;
}

section .grid header {
  grid-area: header;
  background-color: rgb(190, 190, 190);
}

section .grid main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
  overflow: hidden;
}


.imgWrap {
  display: grid;
  grid-template-columns: repeat(7, 230px);
  grid-template-rows: repeat(7, 350px);
  gap: 20px;
  position: relative;
  transform: translateY(-10rem);
  margin-left: 5rem;
}

.imgWrap .box {
  width: 100%;
  height: 600px;
}


 .imgWrap .box img{
  width: 100%;
  height: 50%;
  border-radius: 15px;
  margin-bottom: 1rem;

}
/* 개별 이미지 박스 */

.imgWrap .box.a2{
  position: relative;
}

.imgWrap .box.a3{
  position: relative;
}

.imgWrap .box.a4{
  position: relative;
}

.imgWrap .box.a5{
  position: relative;
}

.imgWrap .box.a6{
  position: relative;
}

.imgWrap .box.a7{
  position: relative;
}

/* 개별이미지 */
.imgWrap .box.a1 > img{
  animation: fade 2.5s 1.2s;
}
 .imgWrap .box.a2 > img{
  position: relative;
  top: 135px;

  animation: fade 2.5s 1.4s;
}

.imgWrap .box.a3 > img{
  position: relative;
  top: 200px;

  animation: fade 2.5s 1.6s;
}

.imgWrap .box.a4 > img{
  position: relative;
  top: 300px;

  animation: fade 2.5s 1.8s;
}

.imgWrap .box.a5 > img{
  position: relative;
  top: 250px;

  animation: fade 2.5s 2s;
}

.imgWrap .box.a6 > img{
  position: relative;
  top: 200px;

  animation: fade 2.5s 2.2s;
}

.imgWrap .box.a7 > img{
  position: relative;

  animation: fade 2.5s 2.4s;
}

@keyframes fade {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


main .main-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15rem;
  z-index: 999;
}

main .main-text h1{
  font-size: 3.5rem;
}

main .main-text p{
  font-size: 3.5rem;
  font-weight: 600;
  color: orange;
}



section .grid footer {
  grid-area: footer;
  background-color: rgb(253, 253, 143);
  grid-template-columns: repeat(2, 50px);
}

section .grid footer .shadowbox{
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
  transform: translateY(-5rem);
}



/* section1 */

.chicken {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-text {
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  padding: 0.5rem;

  position: relative;
  z-index: 99;
  margin-left: 15rem;
  margin-top: 55rem;
  order: 1;
}

.content1-1 .front-text h3 {
  color: #333;
  font-size: 24px;
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 100;
}

.content1-1 .img1 {
  width: 280px;
  height: 400px;

  position: relative;
  z-index: 5;

  order: 2;
}

.img1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  margin-left: 18rem;
  margin-top: -12rem;
}

.img2 {
  width: 150px;
  height: 200px;

  position: relative;
  z-index: 3;
}

.img2 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  margin-left: 30rem;
  margin-top: -20rem;
}

.img3 {
  width: 150px;
  height: 200px;

  position: relative;
  z-index: 2;
}

.img3 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  margin-left: 28rem;
  margin-top: -53rem;
}

.img4 {
  width: 150px;
  height: 200px;

  position: relative;
  z-index: 3;
}

.img4 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;

  margin-top: -57rem;
  margin-left: 11rem;
}

/* 우측 text */
.chicken .content1-2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 20%;
  text-align: center;
}

.content1-2 h1 {
  font-size: 60px;
  color: rgb(173, 50, 71);
}

.content1-2 p {
  font-size: 24px;
  color: rgb(173, 50, 71);
  width: 410px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.content1-2 .search-btn a {
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(173, 50, 71);
  color: rgb(241, 241, 129);
  border-radius: 2rem;
  cursor: pointer;
}

/* 화면2 */

.slide2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-content: center;
}

.slide2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide2-left h1 {
  font-size: 60px;
  color: #006b6c;
}

.slide2-left p {
  font-size: 24px;
  color: #006b6c;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 40%;
  text-align: center;
}

.slide2-left .green-btn a {
  background-color: #006b6c;
  color: rgb(209, 252, 255);
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  font-weight: 600;
}

.slide2-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  grid-auto-rows: auto;
}

.absolute-2 {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
}

.grid1 .img2-1 {
  width: 400px;
  height: 400px;

  position: relative;
  top: 35%;
  border-radius: 5rem;
}

.grid1 .img2-1::after {
  content: '';
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5rem;
}

.grid1 .img2-1 h3 {
  position: absolute;
  color: #fff;
  top: 20%;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3;
  z-index: 1;
  padding: 0 1.5rem;
  margin-left: 1.2rem;
}

.grid1 .img2-1 .main2-1 {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.sub-img {
  display: flex;
  width: 80px;
  height: 130px;
  position: absolute;
  left: 15%;
  top: 75%;
  z-index: 3;
}

.sub-img img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  margin: 0 5px;
}

.grid1 .img2-2 {
  width: 200px;
  height: 220px;

  position: relative;
  left: 40%;
  top: 40%;
}

.grid1 .img2-2 img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.grid1 .img2-2 h3 {
  position: absolute;
  color: #fff;
  bottom: 15%;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.3;
  z-index: 1;
  padding: 0 1.5rem;
  margin-left: 0.3rem;
}

.grid1 .img2-2::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2rem;
}

.grid2 .img2-3 {
  width: 250px;
  height: 250px;

  position: relative;
  bottom: 67%;
  left: 28rem;
}

.grid2 .img2-3 h3 {
  position: absolute;
  color: #fff;
  bottom: 10%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  z-index: 1;
  padding: 0 1.5rem;
  margin-left: 0.3rem;
}

.grid2 .img2-3::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5rem;
}

.grid2 .img2-3 img {
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.grid2 .img2-4 {
  width: 150px;
  height: 150px;

  position: relative;
  left: 28rem;
  bottom: 60%;
}

.grid2 .img2-4 h3 {
  position: absolute;
  color: #fff;
  bottom: 10%;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3;
  z-index: 1;
  padding: 0 1.2rem;
}

.grid2 .img2-4::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2rem;
}

.grid2 .img2-4 img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.grid2 .img2-5 {
  width: 200px;
  height: 200px;

  position: relative;
  left: 28rem;
  bottom: 55%;
}

.grid2 .img2-5 img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.grid2 .img2-5 h3 {
  position: absolute;
  color: #fff;
  bottom: 10%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  z-index: 1;
  padding: 0 1.2rem;
}

.grid2 .img2-5::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2rem;
}

.slide3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.slide3left {
  background: url(https://s.pinimg.com/webapp/shop-bd0c8a04.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100vh;
  
}


.slide3 .banner img {
  width: 220px;
  height: 400px;
  border-radius: 1rem;
  position: absolute;
  bottom: 15%;
  left: 5%;

  animation: test 2s ease-in-out ;
}

@keyframes test {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }

}

.slide3 .banner2 img {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10%;
  left: 3%;
}

.slide3left .text-h6 {
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 15%;
}

.slide3left .text-h6 h6 {
  font-size: 0.9rem;
  text-align: right;
}

.slide3right {
  background: linear-gradient(to bottom, rgb(255, 206, 206), white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide3right h1 {
  font-size: 3.5rem;
  color: rgb(228, 38, 38);
  text-align: center;
  max-width: 400px;
  min-width: 480px;
}

.slide3right p {
  text-align: center;
  font-size: 26px;
  color: rgb(228, 38, 38);
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  min-width: 480px;
}

.slide3right .slide3-btn a {
  display: inline-block;
  background-color: rgb(228, 38, 38);
  color: rgb(247, 228, 228);
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}

