input[type='radio'][name='gender']:checked + label {
  background-color: yellow;
}

input[type='checkbox']:checked + label {
  background-color: rgb(167, 167, 167);
}

#mandatory:target {
 background-color: orange;
}

#optional:target {
  background-color: rgb(194, 127, 2);
 }