html, body {
  margin: 0;
  padding: 0;
}



main {
  padding-top: 3rem;
}

.container {
  width: max-content;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

header h1 {
  font-size: 2.5rem;
}

table {
  width: 100%;
  /* padding: 0 20%; */
  text-align: left;
  border-spacing: 0px 14px;
  border-collapse: separate;
}


table th,tr,td{
  padding: .5rem;
}

table thead th{
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

table thead th:first-child{
  padding-left: 15px;
}

table td:first-child {
  padding-left: 15px;
}


tbody tr{
   box-shadow: 0px 0px 5px rgb(179, 179, 179);
   min-width: 5rem;
}


.username {
  display: flex;
  align-items: center;
}


.active_circle {
  width: 10px;
  height: 10px;
  background-color: #28a745;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.inactive_circle {
  width: 10px;
  height: 10px;
  background-color: #dc3545;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.userinfo {
  max-width: 250px;
}

.userinfo_img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: top;
}

.userinfo_text {
  padding-left: 20px;
  padding-bottom: 0;
  margin-top: -10px;

}

.userinfo_text h5{
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.userinfo_text>p{
  color: #6c757d;
  font-weight: 500;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;

  
}

.contact-btn a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 3px;
  padding: 5px 8px;
  text-align: center;
  font-size: 0.875rem;
  font-family: 'Roboto', sans-serif;
}

.contact-btn a:hover{
  background-color: #0060c7;
}

.ellipsis-vertical {
  margin-left: 30px;
  color: #0060c7;
  font-weight: 700;
  cursor: pointer;
}


/* clickpopup */

.clickpopup  {
  width: 160px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  position: absolute;
  display: none;
}



.clickpopup a {
  display: flex;
  padding: 10px 0;
  margin-left: 10px;
  align-items: center;
}


.clickpopup .edit {
  color: #333;
} 

.clickpopup .delete {
  color: red;
} 

.clickpopup span {
  margin-top: 0;
  margin-right: 10px;
}
.show{
  display: block;
}