:root {
  --primary-color: #e73d0c;
  --text-color: #fff;
  --text-offset: 500px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/34.jpg);
  background-size: cover;
  background-position: center center;
  overflow: auto;
}
section .container {
  width: 100%;
  min-width: 500px;
  color: var(--text-color);
  max-height: 100%;
  overflow: auto;
}
section .container .title h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 60px auto 0;
  -webkit-animation: 1.5s fadein-to-right;
          animation: 1.5s fadein-to-right;
}
section .container .title p {
  font-size: 1.25rem;
  max-width: 760px;
  width: 60%;
  display: inline-block;
  -webkit-animation: 1.5s fadein-to-left;
          animation: 1.5s fadein-to-left;
}
section .container .actions {
  margin-top: 2rem;
}
section .container .actions button {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border-radius: 20px;
  padding: 14px 40px 15px;
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}
section .container .actions button:nth-child(1) {
  background: var(--text-color);
  color: #333;
  border: none;
  -webkit-animation: fadein-to-right 1.5s;
          animation: fadein-to-right 1.5s;
}
section .container .actions button:nth-child(2) {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background: transparent;
  -webkit-animation: fadein-to-left 1.5s;
          animation: fadein-to-left 1.5s;
}
section .container .actions button:nth-child(1):hover {
  background: var(--primary-color);
  border: none;
  color: var(--text-color);
}
section .container .actions button:nth-child(2):hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}
section .container p {
  font-weight: 700;
  margin-bottom: 3rem;
}
section .container > p a {
  color: var(--text-color);
}
section .container .foods figure {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 60px 50px;
  margin: 1rem;
  min-width: 150px;
  -webkit-animation: fade-to-top 1.5s;
          animation: fade-to-top 1.5s;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
section .container .foods figure img {
  width: 3rem;
}

@-webkit-keyframes fadein-to-right {
  from {
    transform: scale(0);
    transform: translate(calc(-1 * var(--text-offset)), 0);
  }
  to {
    transform: scale(1);
    transform: translate(0, 0);
  }
}

@keyframes fadein-to-right {
  from {
    transform: scale(0);
    transform: translate(calc(-1 * var(--text-offset)), 0);
  }
  to {
    transform: scale(1);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fadein-to-left {
  from {
    transform: scale(0);
    transform: translate(var(--text-offset), 0);
  }
  to {
    transform: scale(1);
    transform: translate(0, 0);
  }
}
@keyframes fadein-to-left {
  from {
    transform: scale(0);
    transform: translate(var(--text-offset), 0);
  }
  to {
    transform: scale(1);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-to-top {
  from {
    opacity: 0;
    height: 0;
    min-width: 0px;
    transform: scale(0);
    transform: translate(0, var(--text-offset));
  }
  to {
    opacity: 1;
    height: 100%;
    min-width: 150px;
    transform: scale(1);
    transform: translate(0, 0);
  }
}
@keyframes fade-to-top {
  from {
    opacity: 0;
    height: 0;
    min-width: 0px;
    transform: scale(0);
    transform: translate(0, var(--text-offset));
  }
  to {
    opacity: 1;
    height: 100%;
    min-width: 150px;
    transform: scale(1);
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */