@import "./utils.scss";

section{
  width: $defalut-width;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/34.jpg);
  @include bgImgDefault(cover, center center, auto);

  .container{
    width: $defalut-width; min-width: 500px;
    color: var(--text-color);
    max-height: $defalut-height;
    overflow: auto;
   
    .title h1{
      font-size: $defalut-rem * 3;
      text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
      margin: 60px auto 0;
      animation: 1.5s fadein-to-right;
    }  

    .title p{
      font-size: $defalut-rem * 1.25;
      max-width: 760px; width: 60%;
      display: inline-block;
      animation: 1.5s fadein-to-left;
    }

    .actions{
      margin-top: $defalut-rem * 2;

      & button{
        text-transform: uppercase;
        cursor: pointer;
        font-weight: $defalut-font-weight;
        border-radius: 20px;
        padding: 14px 40px 15px;
        margin: calc($defalut-rem / 2);
        letter-spacing: calc($defalut-rem / 10);
        display: inline-block;

        &:nth-child(1){
          background: var(--text-color);
          color: #333;
          border: none;
          animation: fadein-to-right 1.5s;
        }
        &:nth-child(2){
          border: 2px solid var(--text-color);
          color: var(--text-color);
          background: transparent;
          animation: fadein-to-left 1.5s;
        }
        &:nth-child(1):hover{
          background: var(--primary-color);
          border: none;
          color: var(--text-color);
        }
        &:nth-child(2):hover{
          background: var(--primary-color);
          border: 2px solid var(--primary-color);
        }
      }
    }
    
    p{
      font-weight: $defalut-font-weight;
      margin-bottom: $defalut-rem * 3;
    }
    
    > p a{
      color: var(--text-color);
    }
    .foods figure{
      display: inline-block;
      background-color: var(--primary-color);
      padding: 60px 50px; margin: $defalut-rem;
      min-width: 150px;
      animation: fade-to-top 1.5s;
      line-height: $defalut-rem * 2;
      font-weight: bold;
      letter-spacing: .2rem;

      & img{
        width: $defalut-rem * 3;
      }
    }
  }
}

@keyframes fadein-to-right{
  from{
@include transformSet(0, calc(-1*var(--text-offset)));
  }
  to{
@include transformSet(1, 0);
  }
}

@keyframes fadein-to-left{
  from{
    @include transformSet(0, var(--text-offset));
  }
  to{
    @include transformSet(1, 0);
  }
}

@keyframes fade-to-top {
  from{
    opacity: 0;
    height: 0;
    min-width: 0px;
    @include transformSet(0,0,var(--text-offset))
  }
  to{
    opacity: 1;
    height: $defalut-height;
    min-width: 150px;
    @include transformSet(1,0,0)
  }
}