@import url('animation.css');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 300vh;
  // overflow: hidden;
}
.wrapper{
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: none;
  // mix-blend-mode: color-burn;
}
.wrapper header{
  width: 100vw;
  height: 100px;
  background-color: rgb(233, 229, 229);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrapper header button{
  width: 100px;
  height: 50px;
  background-color: rgb(69, 69, 189);
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  margin-right: 3rem;
  cursor: pointer;
}
.tultip {
  width: 200px;
  height: 50px;
  background-color: rgb(104, 115, 216);
  position: absolute;
  bottom: -35%; right: 0%;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.on {
 opacity: 1;
}
.webcam-container,
.randomimg-container{
  width: 100vw;
  max-width: 80vw;
}
.webcam-container .container-auto{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}
.randomimg-container .container-noneauto{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.card{
  width: 400px;
  height: 400px;
  // border: 1px solid black;
  flex: 1 0 auto;
}
.active{
  transform: scale(1.02);
}
.imgbox{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
// 3초 메세지
.loading-message{
  width: 100vw;
  height: 300vh;
  background-color: rgba(16, 54, 1, 0.603);
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.large-view{
  width: 1000px;
  height: 1000px;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
// 다크모드
.mode {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 999;
  margin-right: 5rem;
}
.mode .fa-solid {
  width: 55px;
  height: 50px;
  font-size: 3rem;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}
.dark{
  background-color: #333 !important;
}
.active{
  display: none;
}
//  전체 카드가져오기
.allcards {
  width: 100%;
  // max-width: 80%;
  margin: 0 auto;
  height: 100%;
  // background-color: gray;
  display: flex;
  flex-wrap: wrap;
}
.cardFrame{
  width: 400px;
  height: 650px;
  border: 3px solid rgb(170, 194, 204);
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: 2rem;
  flex: 1 0 auto;
  opacity: 0;
  transition: all .8s ease;
}
.cardImgFrame{
  width: 100%;
  height: 500px;
  // border: 2px solid black;
}
.cardImg{
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.cardtext{
  width: 100%;
  height: 150px;
  // border: 2px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cardtext h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
.cardtext p{
  font-style: italic;
}
// 스크롤 임계점에 따른 모달창 스타일링
.detailview-modal{
  width: 200px;
  height: 200px;
  background-color: rgb(124, 124, 206);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.detailview-modal p{
  font-size: 1rem;
}
.show{
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-noneauto::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.container-noneauto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}/*# sourceMappingURL=style.css.map */

