
body {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 50%;
  background-color: #eee;
  font-size: 0; /* 자식요소의 인라인 블록 디폴트 마진값이 사라짐 */
  margin: auto;
  text-align: center;
}

.container .content {
  width: 5rem;
  height: 5rem;
  background-color: #ccc;
  display: inline-block;
  margin: 0.3rem;

}